[Unit]
Description=Check CouchControl main for updates every minute

[Timer]
OnBootSec=2min
OnUnitInactiveSec=60s
AccuracySec=5s
Unit=couchcontrol-update.service

[Install]
WantedBy=timers.target
